@page
@model TradeIn.Pages.Admin.Components.PriceList.EditModel

@{
    Layout = "/Pages/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Valuation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Valuation.Id" />
            <input type="hidden" asp-for="Valuation.Brand" />
            <input type="hidden" asp-for="Valuation.Model" />
            <input type="hidden" asp-for="Valuation.Generation" />
            <input type="hidden" asp-for="Valuation.Condition" />

            <div class="form-group">
                <label asp-for="Valuation.Price" class="control-label"></label>
                <input asp-for="Valuation.Price" class="form-control" />
                <span asp-validation-for="Valuation.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valuation.Brand" class="control-label"></label>
                <div>@TradeIn.Models.Helper.getBrand(Model.Valuation.Brand)</div>
                
            </div>
            <div class="form-group">
                <label asp-for="Valuation.Model" class="control-label"></label>
                <div>@TradeIn.Models.Helper.getModel(Model.Valuation.Model)</div>
            </div>
            <div class="form-group">
                <label asp-for="Valuation.Generation" class="control-label"></label>
                <div>@TradeIn.Models.Helper.getGen(Model.Valuation.Generation)</div>
            </div>
            <div class="form-group">
                <label asp-for="Valuation.Condition" class="control-label"></label>
                <div>@Model.Valuation.Condition</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
