@page
@model TradeIn.Pages.ThanksModel
@{
    ViewData["Title"] = "Thanks";
}

<div style="padding: 30px; text-align: center">

	<div class="row justify-content-center" id="GFG">
		<div>
			<h3>Thanks for Reaching out to us </h3>
			<h5>A customer Agent will reach out to you for follow up</h5>
		</div>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
